@import "tailwindcss";
@variant dark (&:where([data-theme=dark],[data-theme=dark] * ));

@font-face {
  font-family: "Vazir";
  src: url("./fonts/Vazir.ttf") format("truetype");
}

:root {
  --color-background: #f9f9f9;
  --color-foreground: #1e1e1e;
}

@theme {
  /* colors */
  --color-primary: #4a5a45;
  --color-secondary: #efe8dc;
  --color-background: #f9f9f9;
  --color-foreground: #1e1e1e;
  --color-hoverBtn: #78866b;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--color-background);
    --foreground: var(--color-foreground);
  }
}

* {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: "Vazir", Helvetica, sans-serif;
}

@layer utilities {
  .wrapper {
    @apply w-full max-w-7xl p-5 md:px-10 lg:mx-auto;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .h1-bold {
    @apply text-3xl font-bold lg:text-4xl;
  }

  .h2-bold {
    @apply text-2xl font-bold lg:text-3xl;
  }

  .h3-bold {
    @apply text-xl font-bold lg:text-2xl;
  }
}
